{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}

{% block content %}
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Brand</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- brand -->
    <div class="brand">
        <div class="container">

        </div>
        <div class="brand-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div class="brand_box">
                            <img src="{% static 'images/1.png' %}" alt="img" />
                            <h3>$<strong class="red">100</strong></h3>
                            <span>Mobile Phone</span>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div class="brand_box">
                            <img src="{% static 'images/2.png' %}" alt="img" />
                            <h3>$<strong class="red">100</strong></h3>
                            <span>Mobile Phone</span>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div class="brand_box">
                            <img src="{% static 'images/3.png' %}" alt="img" />
                            <h3>$<strong class="red">100</strong></h3>
                            <span>Mobile Phone</span>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="brand_box">
                            <img src="{% static 'images/4.png' %}" alt="img" />
                            <h3>$<strong class="red">100</strong></h3>
                            <span>Mobile Phone</span>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                        <div class="brand_box">
                            <img src="{% static 'images/5.png' %}" alt="img" />
                            <h3>$<strong class="red">100</strong></h3>
                            <span>Mobile Phone</span>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                        <div class="brand_box">
                            <img src="{% static 'images/6.png' %}" alt="img" />
                            <h3>$<strong class="red">100</strong></h3>
                            <span>Mobile Phone</span>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a class="read-more" href="/brand">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end brand -->
{% endblock content %}