{% load static %}
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
    <div class="brand_box">
        <img src="{% static 'images/1.png' %}" alt="img" />
        <h3>$<strong class="red">{{ instance.price }}</strong></h3>
        <span>{{ instance.name }}</span>
        <i><img src="{% static 'images/star.png' %}"/></i>
        <i><img src="{% static 'images/star.png' %}"/></i>
        <i><img src="{% static 'images/star.png' %}"/></i>
        <i><img src="{% static 'images/star.png' %}"/></i>
    </div>
</div>