{% load static %}
<div class="carousel-item {% if instance.active %} active {% endif %}">
    <img class="first-slide" src="{% static 'images/banner.jpg' %}" alt="First slide">
    <div class="container">
        <div class="carousel-caption relative">
            <span> {{ instance.title }} </span>
            <h1> {{ instance.information }} </h1>
            <p> {{ instance.description|safe }} </p>
            <a class="buynow" href="#">Buy Now</a>
        </div>
    </div>
</div>