{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}

{% block content %}
   <section class="slider_section">
      <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
         <div class="carousel-inner">

            <div class="carousel-item active">
               <img class="first-slide" src="{% static 'images/banner.jpg' %}" alt="First slide">
               <div class="container">
                  <div class="carousel-caption relative">
                     <span>All New Phones </span>
                     <h1>up to 25% Flat Sale</h1>
                     <p>It is a long established fact that a reader will be distracted by the readable content
                        <br> of a page when looking at its layout. The point of using Lorem Ipsum is that</p>
                     <a class="buynow" href="#">Buy Now</a>
                     
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <img class="second-slide" src="{% static 'images/banner1.png' %}" alt="Second slide">
               <div class="container">
                  <div class="carousel-caption relative">
                     <span>All New Phones </span>
                     <h1>up to 50% Flat Sale</h1>
                     <p>It is a long established fact that a reader will be distracted by the readable content
                        <br> of a page when looking at its layout. The point of using Lorem Ipsum is that</p>
                     <a class="buynow" href="#">Buy Now</a>

                  </div>
               </div>
            </div>
            {% block slide %}
               {% placeholder 'slide' %}
            {% endblock slide %}
         </div>
         <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
         <i class='fa fa-angle-left'></i>
         </a>
         <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
         <i class='fa fa-angle-right'></i>
         </a>
      </div>
   </section>
{% endblock content %}